{% extends 'base/dashboard.html' %}
{% load static %}
{% load humanize %}

{% block mystyle %}
<style>
	th {
		text-align: center;
		vertical-align: middle;
	}
</style>
{% endblock mystyle %}

{% block sidebar %}
<div class="sidebar">
	<!-- Sidebar Menu -->
	<nav class="mt-2">
		<ul id="sidebar" class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
			<li class="nav-item">
				<a href="#new-group" class="nav-link" data-bs-toggle="modal" data-bs-target="#new-group">
					<i class="far fa-circle nav-icon"></i>
					<p>新增券商群組</p>
				</a>
			</li>
			{% for group in group_list %}
			<li class="nav-item">
				<a href="/group/{{ group.id }}" class="nav-link">
				<i class="far fa-circle nav-icon"></i>
				<p>{{ group.Name }}</p>
				</a>
			</li>
			{% endfor %}
		</ul>
	</nav>
	<!-- /.sidebar-menu -->
</div>
{% endblock sidebar %}

<!-- /.sidebar -->
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-4 d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
					<h1 class="m-0">{{ group.Name }}
						<a class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#edit-group">
							編輯
						</a>
						<a href="delete" class="btn btn-outline-danger">
							刪除
						</a>
					</h1>
				</div><!-- /.col -->
				<div class="col-sm-4 d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center">
					<a href="javascript:Crawler_GoodInfo()" class="btn btn-outline-danger">
						同步
					</a>
				</div>
				<div class="col-sm-4 d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center">
					<form method="POST" action="" novalidate>
						{% csrf_token %}
						<div class="row no-gutters">
							<div class="col-sm-5 col-12 mr-2">
								<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">起始日</div>
								<input class="form-control" id="begin-date" name="begin-date" type="date" value="{{ begin_date }}" min="2020-07-07" max="{{ today }}">
							</div>
							<div class="col-sm-5 col-12 mr-2">
								<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">結束日</div>
								<input class="form-control" id="end-date" name="end-date" type="date" value="{{ end_date }}" min="2020-07-07" max="{{ today }}">
							</div>
							<div class="col-sm-1 col-12 mr-2">
								<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">搜尋</div>
								<input class="btn btn-outline-primary" type="submit" value="搜尋" name="search">
							</div>
						</div>
					</form>
				</div>
			</div><!-- /.row -->

			<h3 class="h3 pt-3">券商清單
				<a class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#add-broker">
					新增
				</a>
				<a class="btn btn-outline-danger" href="clear">
					清除
				</a>
				<!-- <a class="btn btn-outline-primary" target="_blank" href="download">
					下載
				</a> -->
				<a class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#upload">
					上傳
				</a>
			</h3>
			<div id="broker_list" class="row pt-3 border-bottom">
				{% for broker in broker_list %}
				<h6 class="fs-4 col-xxl-2 col-xl-3 col-lg-4 col-sm-6 d-flex justify-content-between align-items-center">
					<span class="fs-5">{{ broker.Name }}</span>
					<a class="btn btn-outline-danger" href="del-broker/{{ broker.id }}">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
							<path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
						</svg>
					</a>
				</h6>
				{% endfor %}
			</div>
		</div><!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->

	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-header text-primary">
							買入
						</div>
						<div class="card-body">
							<table class="table table-bordered table-striped" id="positive-table" style="width:100%">
								<thead>
									<tr>
										<th>股票代碼</th>
										<th>名稱</th>
										<th>差額(仟元)</th>
										<th>買進</th>
										<th>賣出</th>
										<th>外資</th>
										<th>投信</th>
										<th>自營商</th>
									</tr>
								</thead>
								<tbody>
									{% for stock in stock_list.positive %}
									<tr>
										<td><a href="javascript:SearchWantGoo({{ stock.id }})">{{ stock.id }}</a></td>
										<td>{{ stock.name }}</td>
										<td>{{ stock.diff|intcomma }}</td>
										<td>
										{% for buy in stock.buy_in %}
										{{ buy }}<br>
										{% endfor %}
										</td>
										<td>
										{% for sell in stock.sell_out %}
										{{ sell }}<br>
										{% endfor %}
										</td>
										<td>{{ stock.sumForeign }}</td>
										<td>{{ stock.sumING }}</td>
										<td>{{ stock.sumDealer }}</td>
									</tr>
									{% endfor %}
								</tbody>
								<tfoot>
									<tr>
										<th>股票代碼</th>
										<th>名稱</th>
										<th>差額(仟元)</th>
										<th>買進</th>
										<th>賣出</th>
										<th>外資</th>
										<th>投信</th>
										<th>自營商</th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>		
					<!-- /.card -->
				</div>
				<!-- /.col-md-6 -->

				<div class="col-lg-12">
					<div class="card">
						<div class="card-header text-primary">
							賣出
						</div>
						<div class="card-body">
							<table class="table table-bordered table-striped" id="negative-table" style="width:100%">
								<thead>
									<tr>
										<th>股票代碼</th>
										<th>名稱</th>
										<th>差額(仟元)</th>
										<th>買進</th>
										<th>賣出</th>
										<th>外資</th>
										<th>投信</th>
										<th>自營商</th>
									</tr>
								</thead>
								<tbody>
									{% for stock in stock_list.negative %}
									<tr>
										<td><a href="javascript:SearchWantGoo({{ stock.id }})">{{ stock.id }}</a></td>
										<td>{{ stock.name }}</td>
										<td>{{ stock.diff|intcomma }}</td>
										<td>
										{% for buy in stock.buy_in %}
										{{ buy }}<br>
										{% endfor %}
										</td>
										<td>
										{% for sell in stock.sell_out %}
										{{ sell }}<br>
										{% endfor %}
										</td>
										<td>{{ stock.sumForeign }}</td>
										<td>{{ stock.sumING }}</td>
										<td>{{ stock.sumDealer }}</td>
									</tr>
									{% endfor %}
								</tbody>
								<tfoot>
									<tr>
										<th>股票代碼</th>
										<th>名稱</th>
										<th>差額(仟元)</th>
										<th>買進</th>
										<th>賣出</th>
										<th>外資</th>
										<th>投信</th>
										<th>自營商</th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
					<!-- /.card -->
				</div>
				<!-- /.col-md-6 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
</div>
<!-- /.content-wrapper -->
{% endblock content %}

{% block modal %}
<div class="modal fade" id="new-group" tabindex="-1" aria-labelledby="new-group" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">新增券商群組</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form class="needs-validation" method="POST" action="/group/create/" novalidate>
				{% csrf_token %}
					<div class="form-floating mb-3">
						<input type="text" class="form-control" id="group-name" name="group-name" placeholder="新名稱" required>
						<label for="group-name">群組名稱</label>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-outline-primary">
							確認
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="edit-group" tabindex="-1" aria-labelledby="edit-group" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">編輯群組</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form class="needs-validation" method="POST" action="edit" novalidate>
				{% csrf_token %}
					<div class="form-floating mb-3">
						<input type="text" class="form-control" id="new-group-name" name="new-group-name" value="{{ group.Name }}" placeholder="新名稱" required>
						<label for="new-group-name">新名稱</label>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-outline-primary">
							確認
						</button>
					</div>
				</form>
			</div>
			
		</div>
	</div>
</div>

<div class="modal fade" id="add-broker" tabindex="-1" aria-labelledby="add_broker" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">新增券商</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form class="needs-validation" method="POST" action="add-broker/" novalidate>
				{% csrf_token %}
					<div class="row">
						<div class="col-sm-6">
							<div class="input-group mb-3">
								<input id="input_broker" type="text" class="form-control" placeholder="券商" aria-label="Stock" aria-describedby="basic-addon1">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="input-group mb-3">
								<input id="input_branch" type="text" class="form-control" placeholder="分部" aria-label="Stock" aria-describedby="basic-addon1">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<select class="form-select mb-3" id="select-broker" name="select-broker" onchange="generate_branch_list()">
								<script>
									generate_broker_list();
								</script>
							</select>
						</div>
						<div class="col-sm-6">
							<select class="form-select mb-3" id="select-branch" name="select-branch">
								<script>
									generate_branch_list();
								</script>
							</select>
						</div>
					</div>
					<button class="" type="submit" id="add_broker_submit" hidden>Continue to checkout</button>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-primary" onclick="document.getElementById('add_broker_submit').click()">
					確認
				</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="upload" tabindex="-1" aria-labelledby="upload" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">上傳券商</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form enctype="multipart/form-data"  class="needs-validation" method="POST" action="upload" novalidate>
				{% csrf_token %}
					<div class="form-floating mb-3">
						<div class="mb-3">
							<label for="upload" class="form-label" >上傳檔案</label>
							<input class="form-control" type="file" accept=".csv" id="uploadfile" name="uploadfile">
						  </div>
					</div>
					<button type="submit" id="upload_submit" hidden>Continue to checkout</button>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-primary" onclick="document.getElementById('upload_submit').click()">
					上傳
				</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="SearchWantGoo" tabindex="-1" aria-labelledby="SearchWantGoo" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="GoodInfoText">玩股網</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<table id="GoodInfoTable" class="table table-striped">
					<thead>
						<tr>
							<th>日期</th>
							<th>外資</th>
							<th>投信</th>
							<th>自營商</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="crawler-modal" tabindex="-1" aria-labelledby="crawler-modal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header h1 d-flex justify-content-center">
				爬蟲進行中
			</div>
			<div class="modal-body h5 d-flex justify-content-center">
				<div class="spinner-border" role="status">
					<span class="visually-hidden">Loading...</span>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock modal %}

{% block script %}
<script>
	$('#sidebar').find('a').each(function () {
		if (this.href == document.location.href || document.location.href.search(this.href) >= 0) {
			$(this).addClass('active');
		}
	});

	function SearchWantGoo(stock_id){
		let end_date = $("#end-date").val();
		$.ajax({
			url: '/apis/institutional_investors/' + stock_id + '/' + end_date,
			data: {
			},
			dataType: 'json',
			success: function (data) {
				$("#GoodInfoTable tbody").empty();
				for(let i = 1; i < data.length; i++){
					text =
						"<tr>" + 
						"<th>" + data[i][0] + "</th>" + 
						"<th>" + data[i][1] + "</th>" + 
						"<th>" + data[i][2] + "</th>" + 
						"<th>" + data[i][3] + "</th>" + 
					"</tr>";
					
					$("#GoodInfoTable tbody").append(
						text
					);
				}
				
				$("#GoodInfoTable th").each(function () 
				{
					if( Number($(this).text()) > 0){
						$(this).css("color", "red");
					}
					else if(Number($(this).text()) < 0){
						$(this).css("color", "green");
					}
				});
				$("#GoodInfoText").text(stock_id);
				$('#SearchWantGoo').modal('show');
			}
		});
	}
	
	function Crawler_GoodInfo(){
		$("#crawler-modal").modal('show');

		$.ajax({
			url: 'sync/',
			data: {
			},
			dataType: 'json',
			success: function (data) {
				$("#crawler-modal .modal-header").text("爬蟲完畢");
				$("#crawler-modal .modal-body").empty();
				$("#crawler-modal .modal-body").text("三秒後重整");
				setTimeout(function(){ location.reload() }, 3000);
			}
		});
	}

	$(document).ready( function () {
		begin_date = document.getElementById("begin-date").value;
		end_date = document.getElementById("end-date").value;
		
		$("#positive-table").DataTable({
			"language": {
				"processing": "處理中...",
				"loadingRecords": "載入中...",
				"lengthMenu": "顯示 _MENU_ 項結果",
				"zeroRecords": "沒有符合的結果",
				"info": "顯示第 _START_ 至 _END_ 項結果，共 _TOTAL_ 項",
				"infoEmpty": "顯示第 0 至 0 項結果，共 0 項",
				"infoFiltered": "(從 _MAX_ 項結果中過濾)",
				"infoPostFix": "",
				"search": "搜尋:",
				"paginate": {
					"first": "第一頁",
					"previous": "上一頁",
					"next": "下一頁",
					"last": "最後一頁"
				},
				"aria": {
					"sortAscending": ": 升冪排列",
					"sortDescending": ": 降冪排列"
				}
			},
			"responsive": true,
			"lengthChange": true,
			"autoWidth": false,
			"order": [
				[ 2, "desc" ]
			],
			"buttons": [
				{
					extend: 'csv',
					text: '下載CSV',
					bom : true,
					title: '{{ group.Name }} 賣出' + ' ' + begin_date + ' ' + end_date
				},
				{
					extend: 'excel',
					text: '下載Excel',
					title: '{{ group.Name }} 賣出' + ' ' + begin_date + ' ' + end_date
				},
				{
					extend: 'colvis',
					text: '篩選',
				}
			]
		}).buttons().container().appendTo('#positive-table_wrapper .col-md-6:eq(0)');

		$("#negative-table").DataTable({
			"language": {
				"processing": "處理中...",
				"loadingRecords": "載入中...",
				"lengthMenu": "顯示 _MENU_ 項結果",
				"zeroRecords": "沒有符合的結果",
				"info": "顯示第 _START_ 至 _END_ 項結果，共 _TOTAL_ 項",
				"infoEmpty": "顯示第 0 至 0 項結果，共 0 項",
				"infoFiltered": "(從 _MAX_ 項結果中過濾)",
				"infoPostFix": "",
				"search": "搜尋:",
				"paginate": {
					"first": "第一頁",
					"previous": "上一頁",
					"next": "下一頁",
					"last": "最後一頁"
				},
				"aria": {
					"sortAscending": ": 升冪排列",
					"sortDescending": ": 降冪排列"
				}
			},
			"responsive": true,
			"lengthChange": true,
			"autoWidth": false,
			"order": [
				[ 2, "asc" ]
			],
			"buttons": [
				{
					extend: 'csv',
					text: '下載CSV',
					bom : true,
					title: '{{ group.Name }} 賣出' + ' ' + begin_date + ' ' + end_date
				},
				{
					extend: 'excel',
					text: '下載Excel',
					title: '{{ group.Name }} 賣出' + ' ' + begin_date + ' ' + end_date
				},
				{
					extend: 'colvis',
					text: '篩選',
				}
			]
		}).buttons().container().appendTo('#negative-table_wrapper .col-md-6:eq(0)');
	});	
</script>
{% endblock script %}