Django==2.2.3
static3==0.7.0
gunicorn==19.9.0
dj-static==0.0.6
dj-database-url==0.5.0
psycopg2-binary==2.8.6
requests==2.24.0
beautifulsoup4==4.9.3
pandas==1.2.4
openpyxl
tables
pyprobar
xlsxwriter
Backtesting
chromedriver-autoinstaller
selenium