{% extends 'base/dashboard.html' %}
{% load static %}
	
{% block mystyle %}
{% endblock mystyle %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h1 class="h2">{{ code }} {{ code_name }}</h1>
	</div>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" href="../technical-chart">技術分析</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="../">不要案</a>
				</li>
			</ul>
		</div>
	</nav>

    <h2 class="my-4">歷史股價</h2>
	
	<canvas class="my-4 w-100" id="myChart" width="900" height="340"></canvas>

</main>
{% endblock content %}

{% block script %}
<script>
	var ctx = document.getElementById('myChart')
	// eslint-disable-next-line no-unused-vars
	const data = {
		labels: [
			{% for item in data %}
			'{{ item.time }}',
			{% endfor %}
		],
		datasets: [
			{
				label: '股價',
				data: [
					{% for item in data %}
					{{ item.close }},
					{% endfor %}
				],
				lineTension: 0,
				backgroundColor: 'transparent',
				borderColor: '#007bff',
				borderWidth: 4,
				pointBackgroundColor: '#007bff'
			}
		]
	};
	const options = {
		scales: {
			yAxes: [{
			ticks: {
				beginAtZero: false
			}
			}]
		},
		legend: {
			display: false
		}
	}
	var myChart = new Chart(ctx, {
		type: 'line',
		data: data,
		options: options
	})
</script>
{% endblock script %}
