{% extends 'base/dashboard.html' %}
{% load static %}

{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h1 class="h2">{{ code }}</h1>
	</div>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" href="financial-statements">財報</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="./">不要案</a>
				</li>
			</ul>
		</div>
	</nav>

	<!-- <canvas class="my-4 w-100" id="myChart" width="900" height="100"></canvas> -->

	<h2 class="my-4">每月營收</h2>
	<div class="table-responsive">
		<table id="financial_statements_table" class="table table-bordered table-striped table-sm">
			<thead>
				<tr>
					<th rowspan="4">年度/月份</th>
					<th colspan="4">營業收入</th>
					<th colspan="3">累計營業收入</th>
				</tr>
				<tr>
					<th>當月營收</th>
					<th>上月比較%</th>
					<th>去年同月營收</th>
					<th>去年同月增減%</th>
					<th>當月累計營收</th>
					<th>去年累計營收</th>
					<th>前期比較%</th>
				</tr>
			</thead>
			<tbody>
			
			</tbody>
		</table>
	</div>
</main>

<script>
	function regular(string){
		re = /(\d{1,3})(?=(\d{3})+(?:$|\D))/g ;
		return string.toString().replace(re,"$1,");
	}
	$.ajax({
		url: 'financial-statements-api',
		data: {},
		dataType: 'json',
		success: function (data) {
			for(let i = 0; i < data.length; i++){
				date = new Date(data[i]['date']);
				year = date.getFullYear();
				day = date.getMonth() + 1;
				if(day < 10)
					day = '0' + day;
				
				date_text = "<th>" + year + '/' + day + "</th>";
				monthRevenue= "<td>" + regular(data[i]['monthRevenue']) + "</td>";
				if(data[i]['preMonthRevenueDiff'] > 0){
					preMonthRevenueDiff = "<td style='color:red;'>" + data[i]['preMonthRevenueDiff'].toFixed(2) + "</td>";
				} else{
					preMonthRevenueDiff = "<td style='color:green;'>" + data[i]['preMonthRevenueDiff'].toFixed(2) + "</td>";
				}
				preYearMonthRevenue = "<td>" + regular(data[i]['preYearMonthRevenue']) + "</td>";
				if(data[i]['preYearMonthRevenueDiff'] > 0){
					preYearMonthRevenueDiff = "<td style='color:red;'>" + data[i]['preYearMonthRevenueDiff'].toFixed(2) + "</td>";
				} else{
					preYearMonthRevenueDiff = "<td style='color:green;'>" + data[i]['preYearMonthRevenueDiff'].toFixed(2) + "</td>";
				}
				monthTotalRevenue = "<td>" + regular(data[i]['monthTotalRevenue']) + "</td>";
				preYearTotalRevenue = "<td>" + regular(data[i]['preYearTotalRevenue']) + "</td>";
				if(data[i]['preTotalRevenueDiff'] > 0){
					preTotalRevenueDiff = "<td style='color:red;'>" + data[i]['preTotalRevenueDiff'].toFixed(2) + "</td>";
				} else{
					preTotalRevenueDiff = "<td style='color:green;'>" + data[i]['preTotalRevenueDiff'].toFixed(2) + "</td>";
				}
				text =
					"<tr>" + 
						date_text + 
						monthRevenue + 
						preMonthRevenueDiff + 
						preYearMonthRevenue + 
						preYearMonthRevenueDiff  + 
						monthTotalRevenue + 
						preYearTotalRevenue + 
						preTotalRevenueDiff + 
					"</tr>";
				
				$("#financial_statements_table tbody").append(
					text
				);
			}
		}
	});
</script>
{% endblock content %}