{% extends 'base/dashboard.html' %}
{% load humanize %}

{% block mystyle %}
<style>
	th {
		text-align: center;
		vertical-align: middle;
	}
</style>
{% endblock mystyle %}

{% block sidebar %}
<div class="sidebar">
	<!-- Sidebar Menu -->
	<nav class="mt-2">
		<ul id="sidebar" class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
			<!-- <li class="nav-item">
				<a href="#new-group" class="nav-link" data-bs-toggle="modal" data-bs-target="#new-group">
					<i class="far fa-circle nav-icon"></i>
					<p>新增</p>
				</a>
			</li>
			{% for group in group_list %}
			<li class="nav-item">
				<a href="/group/{{ group.id }}" class="nav-link">
				<i class="far fa-circle nav-icon"></i>
				<p>{{ group.Name }}</p>
				</a>
			</li>
			{% endfor %} -->
		</ul>
	</nav>
	<!-- /.sidebar-menu -->
</div>
{% endblock sidebar %}

<!-- /.sidebar -->
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row">
				<!-- <div class="col-sm-4 d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
					<h1 class="m-0">{{ group.Name }}
						<a class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#edit-group">
							編輯
						</a>
						
					</h1>
				</div> -->
				<!-- /.col -->
			</div><!-- /.row -->

		</div><!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->

	<div class="content">
		<div class="container-fluid">
			<div class="row">
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
</div>
<!-- /.content-wrapper -->
{% endblock content %}

{% block modal %}
{% endblock modal %}

{% block script %}
{% endblock script %}