{% extends 'base/dashboard.html' %}
{% load humanize %}

{% block mystyle %}
<style>
	th {
		text-align: center;
		vertical-align: middle;
	}
</style>
{% endblock mystyle %}

{% block sidebar %}
<div class="sidebar">
	<!-- Sidebar Menu -->
	<nav class="mt-2">
		<ul id="sidebar" class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
			<li class="nav-item">
				<a href="#new-group" class="nav-link" data-bs-toggle="modal" data-bs-target="#new-stock-group">
					<i class="far fa-circle nav-icon"></i>
					<p>新增股票群組</p>
				</a>
			</li>
			{% for group in stock_group %}
			<li class="nav-item">
				<a href="/stock/{{ group.id }}" class="nav-link">
				<i class="far fa-circle nav-icon"></i>
				<p>{{ group.Name }}</p>
				</a>
			</li>
			{% endfor %}
		</ul>
	</nav>
	<!-- /.sidebar-menu -->
</div>
{% endblock sidebar %}

<!-- /.sidebar -->
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-4 d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
					<h1 class="m-0">{{ group.Name }}
						<a class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#edit-stock-group">
							編輯
						</a>
						<a href="delete" class="btn btn-outline-danger">
							刪除
						</a>
					</h1>
				</div><!-- /.col -->
			</div><!-- /.row -->

		</div><!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->

	<div class="content">
		<div class="container-fluid">
			<div class="row">
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
</div>
<!-- /.content-wrapper -->
{% endblock content %}

{% block modal %}
<div class="modal fade" id="new-stock-group" tabindex="-1" aria-labelledby="new-stock-group" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">新增股票群組</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form class="needs-validation" method="POST" action="/stock/create/" novalidate>
				{% csrf_token %}
					<div class="form-floating mb-3">
						<input type="text" class="form-control" id="stock-group-name" name="stock-group-name" placeholder="群組名稱" required>
						<label for="group-name">群組名稱</label>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-outline-primary">新增</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="edit-stock-group" tabindex="-1" aria-labelledby="edit-stock-group" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">編輯群組</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form class="needs-validation" method="POST" action="edit" novalidate>
					{% csrf_token %}
					<div class="form-floating mb-3">
						<input type="text" class="form-control" id="new-group-name" name="new-group-name" value="{{ group.Name }}" placeholder="新名稱" required>
						<label for="new-group-name">新名稱</label>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-outline-primary">
							確認
						</button>
					</div>
				</form>
			</div>
			
		</div>
	</div>
</div>
{% endblock modal %}

{% block script %}
<script>
	$('#sidebar').find('a').each(function () {
		if (this.href == document.location.href || document.location.href.search(this.href) >= 0) {
			$(this).addClass('active');
		}
	});
</script>
{% endblock script %}