{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block mystyle %}
<style>
	/*the container must be positioned relative:*/
	.autocomplete {
		position: relative;
		display: inline-block;
	}
	.autocomplete-items {
		position: absolute;
		border: 0px solid #d4d4d4;
		border-bottom: none;
		border-top: none;
		z-index: 99;
		/*position the autocomplete items to be the same width as the container:*/
		top: 100%;
		left: 50%;
		right: 0;
		width: 100%;
		margin: 5px 0 0 -249px;
	}
	.autocomplete-items div {
		padding: 10px;
		cursor: pointer;
		background-color: #fff; 
		border-bottom: 1px solid #d4d4d4; 
	}
	/*when hovering an item:*/
	.autocomplete-items div:hover {
		background-color: #e9e9e9; 
	}
	/*when navigating through the items using the arrow keys:*/
	.autocomplete-active {
		background-color: DodgerBlue !important; 
		color: #ffffff; 
	}
</style>
{% endblock mystyle %}

{% block sidebar %}
<div class="sidebar">
	<!-- Sidebar user (optional) -->
	<div class="user-panel mt-3 pb-3 mb-3 d-flex">
		<div class="image">
			<img src="{% static 'img/wallet.png' %}" alt="" class="brand-image" style="opacity: .8">
		</div>
		<div class="info">
			<a class="d-block">{{ User }}</a>
		</div>
	</div>

	<!-- Sidebar Menu -->
	<nav class="mt-2">
		<ul id="sidebar" class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
			<li class="nav-item">
				<a href="#new-group" class="nav-link" data-bs-toggle="modal" data-bs-target="#new-stock-group">
					<i class="far fa-circle nav-icon"></i>
					<p>新增股票群組</p>
				</a>
			</li>
			{% for group in stock_group_list %}
			<li class="nav-item">
				<a href="/stock-group/{{ group.id }}/?index=0" class="nav-link">
				<i class="far fa-circle nav-icon"></i>
				<p>{{ group.Name }}</p>
				</a>
			</li>
			{% endfor %}
		</ul>
	</nav>
	<!-- /.sidebar-menu -->
</div>
{% endblock sidebar %}

<!-- /.sidebar -->
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	{% if stock_group %}
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-4 d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
					<h1 class="m-0">{{ stock_group.Name }}
						<a class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#edit-stock-group">
							編輯
						</a>
						<a class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete-stock-group">
							刪除
						</a>
					</h1>
				</div><!-- /.col -->

				<div class="col-sm-4 d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center">
				
				</div><!-- /.col -->
				
				<div class="col-sm-4 d-flex justify-content-end flex-wrap flex-md-nowrap align-items-center">
					
				</div><!-- /.col -->
			</div><!-- /.row -->
			<h3 class="h3 pt-3">股票清單
				<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#add-stock-modal">
					新增
				</button>
				<a class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#upload">
				上傳
				</a>
			</h3>
			<div id="stock-list" class="row border-bottom">
				{% for item in stock_group_item_list %}
					{% if item.Code == code %}
					<h6 class="fs-4 col-2 d-flex justify-content-center align-items-center text-primary">
						<span class="fs-5">{{ item.Name }}
							<a class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete-stock" onclick="pass_to_modal('{{ item.id }}', '{{ item.Name }}')">
								刪除
							</a>
						</span>
					</h6>
					{% else %}
					<h6 class="fs-4 col-2 d-flex justify-content-center align-items-center">
						<span class="fs-5">{{ item.Name }}
							<a class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete-stock" onclick="pass_to_modal('{{ item.id }}', '{{ item.Name }}')">
							刪除
							</a>
						</span>
					</h6>
					{% endif %}
				{% endfor %}
			</div>
		</div><!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->
	{% endif %}
	<div class="content">
		<div class="container-fluid">
			<div class="row pt-3 ">
				<div class="col-lg-12">
					<div class="card">
						{{div | safe}}
					</div>		
					<!-- /.card -->
				</div>
				<!-- /.col-md-6 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
</div>
<!-- /.content-wrapper -->
{% endblock content %}

{% block modal %}
<div class="modal fade" id="new-stock-group" tabindex="-1" aria-labelledby="new-stock-group" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">新增股票群組</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form class="needs-validation" method="POST" action="/stock-group/create/">
				{% csrf_token %}
					<div class="mb-3">
						<label for="group-name">群組名稱</label>
						<input type="text" class="form-control" id="stock-group-name" name="stock-group-name" placeholder="群組名稱" autocomplete="off" required>
					</div>
					<button type="submit" id="new-stock-group-submit" hidden>Continue to checkout</button>
				</form>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-outline-primary" onclick="document.getElementById('new-stock-group-submit').click()">
					確認
				</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="delete-stock-group" tabindex="-1" aria-labelledby="delete-stock-group" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">刪除股票群組</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				確認刪除 <font class="text-danger">{{ stock_group.Name }}</font> 股票群組？
			</div>
			<div class="modal-footer">
				<form class="needs-validation" method="POST" action="delete">
					{% csrf_token %}
					<button class="btn btn-outline-danger" type="submit" id="delete-stock-group-submit">刪除</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="delete-stock" tabindex="-1" aria-labelledby="delete-stock-group" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">刪除股票</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				確認刪除股票 <font class="text-danger" id="delete-stock-name"></font> ？
			</div>
			<div class="modal-footer">
				<form class="needs-validation" method="POST" id="delete-stock-form" action="delete">
					{% csrf_token %}
					<button class="btn btn-outline-danger" type="submit" id="delete-stock-submit">刪除</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="edit-stock-group" tabindex="-1" aria-labelledby="edit-stock-group" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">編輯群組</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form class="needs-validation" method="POST" action="edit">
					{% csrf_token %}
					<div class="mb-3">
						<label for="new-group-name">新名稱</label>
						<input type="text" class="form-control" id="new-group-name" name="new-group-name" value="{{ stock_group.Name }}" placeholder="新名稱" autocomplete="off" required>
					</div>
					<button type="submit" id="edit-stock-group-submit" hidden>Continue to checkout</button>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-primary" onclick="document.getElementById('edit-stock-group-submit').click()">
					確認
				</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="add-stock-modal" tabindex="-1" aria-labelledby="add-stock-modal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">股票</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			  </div>
			<div class="modal-body">
				<form class="needs-validation" method="POST" action="add" autocomplete="off">
				{% csrf_token %}
					<div class="row">
						<div class="mb-3">
							<label for="stock-input" class="col-form-label">股票清單：</label>
							<input type="text" class="form-control" id="stock-input" name="stock-input" autocomplete="off">
						</div>
					</div>
					<button type="submit" id="add-stock-submit" hidden>Continue to checkout</button>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-primary" onclick="document.getElementById('add-stock-submit').click()">
					確認
				</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="upload" tabindex="-1" aria-labelledby="upload" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">上傳券商清單</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>Excel 格式:</p>
				<p>代碼 | 股票</p>
				<p>p.s. 自動將舊的股票全都刪除</p>
				<form enctype="multipart/form-data"  class="needs-validation" method="POST" action="upload">
				{% csrf_token %}
				<div class="form-floating mb-3">
					<div class="mb-3">
					<label for="upload" class="form-label" >上傳檔案</label>
					<input class="form-control" type="file" accept=".xlsx" id="uploadfile" name="uploadfile" required>
					</div>
				</div>
				<button type="submit" id="upload-submit" hidden>Continue to checkout</button>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-primary" onclick="document.getElementById('upload-submit').click()">
				上傳
				</button>
			</div>
		</div>
	</div>
</div>
{% endblock modal %}

{% block script %}
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.3.2.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.3.2.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.3.2.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.3.2.min.js"></script>
{{script | safe}}
<script>
	$('#add-stock-modal').on('hidden.bs.modal', function () {
		$(this).find('form').trigger('reset');
	})
	function sync_end_date(){
		document.getElementById("end-date").value = document.getElementById("begin-date").value;
	}
	function pass_to_modal(id, name){
		document.getElementById('delete-stock-form').action = 'delete/' + id;
		document.getElementById('delete-stock-name').innerHTML = name;
	}
	
	$('#sidebar').find('a').each(function () {
		if (this.href == document.location.href || document.location.href.search(this.href) >= 0) {
			$(this).addClass('active');
		}
	});

	function autocomplete(inp, arr) {
		/*the autocomplete function takes two arguments,
		the text field element and an array of possible autocompleted values:*/
		var currentFocus;
		/*execute a function when someone writes in the text field:*/
		inp.addEventListener("input", function(e) {
			var a, b, i, val = this.value;
			/*close any already open lists of autocompleted values*/
			closeAllLists();
			if (!val) {
				return false;
			}
			currentFocus = -1;
			/*create a DIV element that will contain the items (values):*/
			a = document.createElement("DIV");
			a.setAttribute("id", this.id + "autocomplete-list");
			a.setAttribute("class", "autocomplete-items");
			a.setAttribute("style", "height:300px;overflow-y:auto");
			
			/*append the DIV element as a child of the autocomplete container:*/
			this.parentNode.appendChild(a);
			/*for each item in the array...*/
			for (i = 0; i < arr.length; i++) {
				/*check if the item starts with the same letters as the text field value:*/
				   if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
					   /*create a DIV element for each matching element:*/
					   b = document.createElement("DIV");
					   /*make the matching letters bold:*/
					   b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
					   b.innerHTML += arr[i].substr(val.length);
					   /*insert a input field that will hold the current array item's value:*/
					   b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
					   /*execute a function when someone clicks on the item value (DIV element):*/
					   b.addEventListener("click", function (e) {
						   /*insert the value for the autocomplete text field:*/
						   inp.value = this.getElementsByTagName("input")[0].value;
						   /*close the list of autocompleted values,
						   (or any other open lists of autocompleted values:*/
						   closeAllLists();
					   });
					   a.appendChild(b);
				   }
			}
		});
		/*execute a function presses a key on the keyboard:*/
		inp.addEventListener("keydown", function(e) {
			var x = document.getElementById(this.id + "autocomplete-list");
			if (x)
				x = x.getElementsByTagName("div");
			if (e.keyCode == 40) {
				/*If the arrow DOWN key is pressed,
				increase the currentFocus variable:*/
				currentFocus++;
				/*and and make the current item more visible:*/
				addActive(x);
			} else if (e.keyCode == 38) { //up
				/*If the arrow UP key is pressed,
				decrease the currentFocus variable:*/
				currentFocus--;
				/*and and make the current item more visible:*/
				addActive(x);
			} else if (e.keyCode == 13) {
				/*If the ENTER key is pressed, prevent the form from being submitted,*/
				e.preventDefault();
				if (currentFocus > -1) {
					/*and simulate a click on the "active" item:*/
					if (x) {
						x[currentFocus].click();
						document.getElementById('add-stock-submit').click();
					}
				}
			}
		});
		function addActive(x) {
			/*a function to classify an item as "active":*/
			if (!x) return false;
			/*start by removing the "active" class on all items:*/
			removeActive(x);
			if (currentFocus >= x.length) currentFocus = 0;
			if (currentFocus < 0) currentFocus = (x.length - 1);
			/*add class "autocomplete-active":*/
			x[currentFocus].classList.add("autocomplete-active");
		}
		function removeActive(x) {
			/*a function to remove the "active" class from all autocomplete items:*/
			for (var i = 0; i < x.length; i++) {
				x[i].classList.remove("autocomplete-active");
			}
		}
		function closeAllLists(elmnt) {
			/*close all autocomplete lists in the document,
			except the one passed as an argument:*/
			var x = document.getElementsByClassName("autocomplete-items");
			for (var i = 0; i < x.length; i++) {
				if (elmnt != x[i] && elmnt != inp) {
					x[i].parentNode.removeChild(x[i]);
				}
			}
		}
		/*execute a function when someone clicks in the document:*/
		document.addEventListener("click", function (e) {
			closeAllLists(e.target);
		});
	}
		
	/*An array containing all the country names in the world:*/
	var stock_list = {{ default_stock_list | safe }};
	/*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
	autocomplete(document.getElementById("stock-input"), stock_list);

	document.onkeyup = checkKey;

	function checkKey(e) {

		e = e || window.event;

		if (e.keyCode == '37') { // left arrow
			let url = window.location.href;
			let para = url.split("/");
			let index = para[para.length - 1].split("=");
			let new_index = parseInt(index[index.length - 1]) - 1;
			if(new_index >= 0) {
				window.location.replace('/stock-group/{{ stock_group.id }}/?index=' + new_index);
			}
		}
		if (e.keyCode == '39') { // right arrow
			let url = window.location.href;
			let para = url.split("/");
			let index = para[para.length - 1].split("=");
			let new_index = parseInt(index[index.length - 1]) + 1;
			
			if(new_index < {{ max_length }}) {
				window.location.replace('/stock-group/{{ stock_group.id }}/?index=' + new_index);
			}
		}
	}
</script>
{% endblock script %}